
p{
	display: flex;
	text-align: ;
	margin: 1em;
	padding-left: 15em;
	padding-right: 15em;
}
h4,h5{
	margin-top: 1em;
}
h5{
	margin-left: 13em;
}
.list{
	display: flex;
	text-align: ;
	margin: 1em;
	padding-left: 15em;
	padding-right: 15em;

}