header{
	margin-top: 5px;
	background-color: #5570B9;
	color:#FFFFFF;
	text-decoration: none;
}
footer{
	background-color: #404040;
	opacity: 50%;
	color: #FFFFFF;
	text-decoration: none;
}